{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Each post will be output using this markup }}
{{#foreach posts}}

<article class="{{post_class}}">
    <header class="post-header">
        {{#if image}}
            <img class="post-cover" src="{{image}}" alt="{{title}}">
        {{/if}}

        <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        
        <section class="post-meta">
            <span class="post-time">
                <i class='fa fa-calendar'></i>
                <time datetime="{{date format="YYYY-MM-DD"}}" class="timeago">{{date timeago="true"}}</time>
                <time datetime="{{date format="YYYY-MM-DD"}}" class="fulldate">{{date format="MMMM Do, YYYY"}}</time>
            </span>
            {{tags prefix="<br><i class='fa fa-tag'></i> " separator=" · "}}
        </section>
    </header>
    <section class="post-content">
        {{content}}
    </section>
    <footer class="post-indexfooter">
      <div class="post-share-container">
        <div class="fb-like" data-href="http://kunminustatuliaiti.fi{{url}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
      <div class="post-comment-container">
        <i class="fa fa-comment-o"></i> <a href="{{url}}#fb_thread"><span class="fb-comments-count" data-href="http://kunminustatuliaiti.fi{{url}}"></span> comments</a>
      </div>
    </footer>
</article>

{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}
